*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 1px solid red;
}

.main-container{
    border: 5px solid black;
    width: 45%;
    margin: 3% auto;
}

.title{
    text-transform: uppercase;
    background-color: lightgray;
    text-align: center;
    padding: .8%;
}

.main-flex{
    display: flex;
    align-items: center;
}

.section-flex{
    width: 33.3%;
}

.btn-add-to-cart{
    border: 0;
    width: 100%;
    font-size: 20px;
    padding: .8%;
    text-transform: uppercase;
    background-color: white;
    border-top: 5px solid black;
}

.btn-add-to-cart:hover{
    color: white;
    background-color: black;
}

.img-shoes{
    width: 60%;
}



.flex-color-container{
    display: flex;
}

.fc-items{
    width: 20px;
    height: 20px;
    margin-right: 3%;
}

.flex-color-items-1{

    background-color: navy;
}

.flex-color-items-2{

    background-color: green;
}

.flex-color-items-3{

    background-color: yellow;
}

.flex-color-items-4{

    background-color: black;
}

.flex-color-items-5{

    background-color: violet;
}

.flex-color-items-6{

    background-color: orange;
}