*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    border: 1px solid red;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
}

section{
    border: 5px solid black;
}

/* .border-img{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
} */

.deliv-promo{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: gray;
}

.title{
    text-transform: uppercase;
    text-align: center;
    background-color: lightgray;
    padding: 1%;
}

.btn-add-cart{
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    margin: 0;
    padding: 2%;
    width: 100%;
}

.btn-add-cart:hover{
    border-color: white;
    background-color: white;
    color: black;  
    border-top: 5px solid black;
}

.square-style{
    list-style: square;
    line-height: 1.5;
    margin-bottom: 1%;
}

.link-gray{
    color: black;
}

.link-gray:hover{
    text-decoration: none;
}

.price{
    font-size: 22px;
}

.product-details{
    text-transform: uppercase;
}

.container{
    width: 825px;
    margin: 2% auto;
}

.ul-margin{
    margin-left: 4%;
}

.margin-btm-2{
    margin-bottom: 1.5%;
}

.margin-left-2{
    margin-left: 0.5%;
}


.parent-header{
    position: relative;
}

.child-header{
    position: absolute;
    top: -14px;
    left: -32px;
}

.child-header-text{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: red;
    text-align: center;
    padding: 5px 10px;
    color: white;
    letter-spacing: 0.2rem;
}

.child-paint{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 1%;
    background-color: yellow;
}

#box-1{
    margin-left: 0;
    background-color: black;
}

#box-2{

    background-color: blue;
}

#box-3{
    background-color: red;
}
#box-4{

    background-color: burlywood;
}
#box-5{

    background-color: green;
}
#box-6{
    background-color: brown;
}