* {
  border: 1px solid red;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: rgb(15, 161, 184);
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul, ol{
  margin-left: 50px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child{
  margin-bottom: 0;
}

footer > p {
  font-size: 16px;
}

#authors {
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related-bullets-none {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header{
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

body {
  border-top: 10px solid #1098ad;
}

/* .first-li {
  font-weight: bold;
} */

/* anak pertama dari list */
li:first-child {
  font-weight: bold;
}

/* anak kesekian dari list tergantung parameternya */
li:nth-child(even) {
  color: red;
}

article p:first-child {
  color: red;
}

a:link {
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving Conflict */
/* 
#copyright {
  color: #1098ad;
}

.copyright {
  color: green;
}

.text {
  color: red;
}

footer p {
  color: blue;
} */

article{
  margin-bottom: 60px;
}

.post-img{
  width: 100%;
  height: auto;
}

.container{
  width: 700px;
  margin: 0 auto;
}

/* 
  inline boxes -> only occupied space the content needed, no line-breaks. not apply heights and width, padding margin only works horizontally.

  block elements -> visually as blocks, occupy 100% parent elements width, stacked vertically not side by side

  inline block-elements -> outside like inline, inside like block

*/

nav a:link{
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;
}

nav a:link:last-child{
  margin-right: 0;
}

/*
  normal flow -> default positioning is relative -> laid out according to their order in the HTML code

  absolute positioning -> out of normal flow, no impact on surrounding elements, can use top bottom 
  left or right to move the elements FROM RELATIVE POSITIONED CONTAINER

  
*/